div.bx-system-auth-form span.bx-auth-secure {background-color:#FFFAE3; border:1px solid #DEDBC8; padding:2px; display:inline-block; vertical-align:bottom; margin-top:-1px;}
div.bx-system-auth-form div.bx-auth-secure-icon {background-image:url(images/sec.png); background-repeat:no-repeat; background-position:center; width:19px; height:18px;}
div.bx-system-auth-form div.bx-auth-secure-unlock {background-image:url(images/sec-unlocked.png);}

.help-description{
	display: none;
}
.sign_in .help {
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: #deeaea;
	cursor: pointer;
	text-align: center;
	position: absolute;
	right: 110px;
	bottom: 15px;
}
.sign_in .help.subdivision_description{
	right: -25px;
	bottom: 16px;
}
@media (max-width: 1015px) {
	.login .sign_in .help {
		right: 25px;
		bottom: 8px;
	}
}

@media (max-width: 515px) {
	.login .sign_in .help {
		right: -22px;
		bottom: 6px;
	}
}